@import url('https://fonts.googleapis.com/css?family=Lora|Noto+Serif+JP|Tauri|Kokoro');

/*Do not touch! keeps breaking*/
html, body {
    min-height: 100% !important;
    height: 100%;
    margin:0;

    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

/*=========Components=========*/
.nav-wrapper {
    height: fit-content;
    width: fit-content;
    margin-left: auto;
}

/*The gallery*/
.row.gallery {
    min-height: unset;
    flex-direction: row !important;
    justify-content: center;
}

.row.gallery .slide {
    width: 200px;
    height:200px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    margin: 5px;
    
}

.gallery.gujohachiman .slide:nth-child(1) {
    background: url(../img/gujohachiman/gujohachiman-station.jpg);
    background-position: 50%;
}
.gallery.gujohachiman .slide:nth-child(2) {
    background: url(../img/gujohachiman/gujohachiman-castleautumn.jpg);
    background-position: 50% 36%;
}
.gallery.gujohachiman .slide:nth-child(3) {
    background: url(../img/gujohachiman/gujohachiman-castlemisty.jpg);
    background-position: 70%;
    background-size: 200% !important;
}
.gallery.gujohachiman .slide:nth-child(4) {
    background: url(../img/gujohachiman/gujohachiman-well.PNG);
    background-position: 70%;
}
.gallery.gujohachiman .slide:nth-child(5) {
    background: url(../img/gujohachiman/gujohachiman-gutter.PNG);
    background-position: 70%;
}
.gallery.gujohachiman .slide:nth-child(6) {
    background: url(../img/gujohachiman/gujohachiman-street.PNG);
    background-position: 70%;
}

.gallery.kurashiki .slide:nth-child(1) {
    background: url(../img/kurashiki/kurashiki-market.PNG);
    background-position: 50%;
}
.gallery.kurashiki .slide:nth-child(2) {
    background: url(../img/kurashiki/kurashiki-shrine.PNG);
    background-position: 50% 36%;
}
.gallery.kurashiki .slide:nth-child(3) {
    background: url(../img/kurashiki/kurashiki-street.jpg);
    background-position: 70%;
}
.gallery.kurashiki .slide:nth-child(4) {
    background: url(../img/kurashiki/kurasiki-boats.PNG);
    background-position: 70%;
}

/***********Navbar dropdown************/
/*Sets the style of "active" elements*/
.burger {
    display: none;
}

/*Hides the icon by default*/
.nav-links .icon {
    display: none;
}

.nav-links.responsive {
    display: flex;
    flex-direction: column;
}

/*Navbar links*/
.nav-links {
    display: inline-flex;
}

.nav-link {
    font-family: Tauri;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 23px;
    text-align: center;
    text-transform: capitalize;

    color: #FFFFFF;

    margin: 22.5px;
}

/*Header Section*/

.header {
    height: fit-content;
    width: 100%;

    background-position: center !important;
    background-size: cover !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;    
}

.header.main {
    min-height: 100%;
}

/*Specifically the header section on the homepage*/
.header.home {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/fuji.jpg);
}

/*Specifically the header section on the recommended places page*/
.header.places {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/osaka.jpg);
}

.header.accommodation {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/room.jpg);
}

.header.culture {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/fushimiinari-taisha.jpg);
}

/****Headers for the places pages*****/
/*specifies the min height for headers on a place page*/
.header.place {min-height: 70%;}

.header.place.hirosaki {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/hirosaki/hirosaki-winter.jpg);
}

.header.place.kurashiki {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/kurashiki/kurashiki-shrine.PNG);
}

.header.place.gujohachiman {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/gujohachiman/gujohachiman-ayu.PNG);
}

.header.place.ichijodaniasakura {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/ichijodani/ichijodani-room.PNG);
}


.header.place .title {
    font-size: 4.5rem;
    color: #fff;
}

/*========Wrappers and things=========*/
/*A content wrapper centering the items in the header*/
.content {
    width: fit-content;
    height: fit-content;
    margin: auto;
    text-align: center;
}

/*button wrapper from the header*/
.buttons {
    margin: 30px;
}

/*Specially styles sections*/
.section {
    min-height: 400px;
    padding: 40px;
    background-color: #fff;
}

.section:nth-child(odd) {
    background-color: #fafafa
}

/*Adds a row*/
.row {
    display: flex;
    flex-direction: row;
}

/*Sets up the columns*/
.column {
    width: 50%;
    padding: 40px;
    min-height: 400px;
    flex-direction: column;
}

.column:nth-child(2) {
    text-align: right;
}

/*Makes the videos fixed aspect ratio*/
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*For the maps*/
.mapouter {
    text-align: right;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
}

/*========Bits=======*/
/*The torii icon on the home page*/
#header-icon {
    margin: 17px;
}

/*Makes elements float!*/
.floating {animation-name: floating;animation-duration: 3s;animation-iteration-count: infinite;animation-timing-function: ease-in-out;}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }    
}

/*The styling for titles*/
.title {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 2.5rem;
    
    margin: 0;
}

.header .title {
    font-size: 93px;
    color: rgba(255, 255, 255, 0.8);
}

/*The styling for subtitles*/
.subtitle {
    font-family: Tauri;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1.9rem;
    text-transform: capitalize;

    margin: 0 0 7px;
}

.header .subtitle {
    color: #FFFFFF;
}

p {
    font-family: "Noto Serif JP", sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

/*========Grouped the Buttons on the header=======*/
.button {
    background: #F2C94C;
    border-radius: 50px;
    padding: 11.5px 50px;
    border: none;
    margin: 26px;
    
    font-family: "Tauri", sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 23px;
    color: #fff;
}

#jp-flag {
    float: right;
}

.column img {
    width: 100%;
}

/*=======Languages etc=========*/
.JP.subtitle {
    font-family: "Noto Serif JP", sans-serif;
}

.italic {font-style: italic;}