@import url('https://fonts.googleapis.com/css?family=Lora|Noto+Serif+JP|Tauri|Kokoro');

/*Do not touch! keeps breaking*/
html, body {
    min-height: 100% !important;
    height: 100%;
    margin:0;

    overflow-x: hidden;
}

/*=========Components=========*/
.nav-wrapper {
    height: fit-content;
    width: fit-content;
    margin-left: auto;
}

/***********Navbar dropdown************/
/*Sets the style of "active" elements*/
.burger {
    display: none;
}

/*Hides the icon by default*/
.nav-links .icon {
    display: none;
}

.nav-links.responsive {
    display: flex;
    flex-direction: column;
}

/*Navbar links*/
.nav-links {
    display: inline-flex;
}

.nav-link {
    font-family: Tauri;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 23px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    
    color: #FFFFFF;

    margin: 22.5px;
}

/*Header Section*/
.header {
    height: fit-content;
    min-height: 100%;
    width: 100%;

    background-position: center !important;
    background-size: cover !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
}

/*Specifically the header section on the homepage*/
.header.home {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/fuji.jpg);
}

/*========Wrappers and things=========*/
/*A content wrapper centering the items in the header*/
.content {
    width: fit-content;
    height: fit-content;
    margin: auto;
    text-align: center;
}

.buttons {
    margin: 30px;
}

.section {
    min-height: 400px;
    padding: 40px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid img {
    width: 100%;
    margin: auto;
}

/*========Bits=======*/
/*The torii icon on the home page*/
#header-icon {
    margin: 17px;
}

/*Makes elements float!*/
.floating {animation-name: floating;animation-duration: 3s;animation-iteration-count: infinite;animation-timing-function: ease-in-out;}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }    
}

/*The styling for titles*/
.title {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 2.5rem;
    margin: 0;
}

.header .title {
    font-size: 93px;
    color: rgba(255, 255, 255, 0.8);
}

/*The styling for subtitles*/
.subtitle {
    font-family: Tauri;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1.9rem;
    text-transform: capitalize;

    margin: 0 0 7px;
}

.header .subtitle {
    color: #FFFFFF;
}

/*========Grouped the Buttons on the header=======*/
.button {
    background: #F2C94C;
    font-size: 23px;
    border-radius: 50px;
    padding: 11.5px 50px;
    font-family: "Tauri", sans-serif;
    color: #fff;
    text-decoration: none;
    border: none;
    margin: 26px;
}

#jp-flag {
    float: right;
}

/*=======Languages=========*/
.JP.subtitle {
    font-family: "Noto Serif JP", sans-serif;
}