@media screen and (max-width: 1000px) {
    .nav-wrapper {
        margin: 0 auto;
    }
    
    .button {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .title {
        font-size: 3rem !important;
    }

    .subtitle {
        font-size: 2rem;
    }

    .section {
        padding: 0;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .row {
        display: flex;
        flex-direction: column !important;
    }
    
    .column {
        width: 100%;
        min-height: unset;
    }
}

@media screen and (max-width: 1222px) {

    .row {
        display: flex;
        flex-direction: column !important;
    }
    
    .column {
        width: 100%;
        margin: 0 auto;
        min-height: unset;
    }

    .column img {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 600px) {
    .header.place {
        min-height: 100%;
    }

    .section {
        padding: 0;
    }

    .section .heading.wrapper {
        margin: 30px;
        text-align: center;
    }

    .column img {
        height: initial;
        object-fit: unset;
    }
}

@media screen and (max-width: 1000px) {
    .nav-link:not(.burger) {display: none;}
    .burger {display: initial !important}
    .nav-link.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 1000px) {
    .nav-links.responsive {position: relative;}
    .nav-links.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav-links.responsive a {
        float: none;
        display: block;
    }
}  